.rosso{
  color: red;
}
.giallo{
  color: yellow;
}
.verde{
  color: green;
}
.blu{
  color: blue;
}
.viola{
  color: violet;
}
.rosa{
  color: pink;
}
.azzurro{
  color: lightblue;
}
.arancione{
  color: orange;
}
.nero{
  color: black;
}